/* Общий стиль */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Шапка */
.header {
    background: linear-gradient(135deg, #ff00c8, #7e03f9);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.header p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
}

.cta-button {
    display: inline-block;
    background: white;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #ffe6e6;
}

/* Навигация */
.navbar {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #e9e9e9f9;
}

/* Секции */
section {
    padding: 40px 0;
}

h2 {
    text-align: center;
    color: #000000;
}
h3 {
    text-align: center;
}

/* Услуги */
.services .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service-item {
    flex: 1 1 calc(33% - 20px);
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.services .service-item:hover {
    transform: translateY(-10px);
}

.services img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Отзывы */
.reviews .review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews .review-item {
    flex: 1 1 calc(33% - 20px);
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-style: italic;
}

/* Футер */
.footer {
    background: linear-gradient(135deg, #ff00c8, #7e03f9);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

